.genreTag {
  padding:4px 8px;
  border: 2px solid white;
  margin: 4px;
  border-radius: 15px;
}

.songContainer{
  padding:16px 24px;
  border:1px solid black;
  margin:8px;
}

h1 {
	font-family: 'Dela Gothic One';
	font-size: 50px;
	color: deeppink;
}

body {
	background-image: url(images/background.jpg);
	background-size: 500vh;
	font-family: 'Fjalla One';
}

button {
	color: orchid;
	padding: 15px;
	border-radius: 20px;
	border: none;
	font-family: 'Dela Gothic One'

}

.filter {
	font-family: 'Dela Gothic One';
	color: deeppink;
}

.songContainer{
  padding:15px 25px;
  border:3px solid white;
  margin:9px;
}

